.idea/
.env
env/
.env/
.venv/
.vscode/
htmlcov/
.vscode/*
.env
proagrica/settings/local_settings.py
static_root/
deploy.sh
logs/
uwsgi.ini
media/
*.pyc
*.sql
local-docker-compose.yml
*.db
project_data_for_developers
log.txt
buoy.*
proagrica/management/commands/test_command.py
.coverage
proagrica/profiler/results/*
proagrica/profiling-*
.DS_Store
TODO
db_debug.log
.env
apps/weather/tests/weather_files/empty_requests_meteomatics_dev_with_headers.csv
apps/weather/tests/weather_files/requests_meteomatics_dev.csv
